body {
    font-family: Arial, sans-serif;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
article {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

pre {
    font-family: Arial, sans-serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.full {
    grid-column-start: 1;
    grid-column-end: 3;
}

.l {
    grid-column-start: 1;
    grid-column-end: 2;
}
.r {
    grid-column-start: 2;
    grid-column-end: 3;
}

.popup {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #0077ff;
}
.popupbad {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #ff0000;
}
.popupgood {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #00ff2a;
}
.popupwarn {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #ffaa00;
}