{% extends "main.html" %}

{% block imports %}

{% endblock %}

{% block content %}
    <div class="full title">
        <h1>About the SEQWRC</h1>
    </div>
    <div class="l">
        <p>The South East Queensland Worst Running club is a developing run club that welcomes beginners, casual runners, and those who run for fun rather than competition, based in Ipswitch.<br>
            This website serves as a hub for organizing runs, tracking progress, and fostering a supportive and lighthearted running culture.</p>
    </div>
    <div class="r" style="align-items: center; text-align: center;">
        <img src="/static/other/logo.jpg" width="180px" height="180px">
    </div>
    <div class="full">
        <h2>Our Mission</h2>
    </div>
    <div class="l">
       <img src="/static/other/community.png">
    </div>
    <div class="r">
        <p>Our mission is to provide a supportive and inclusive environment for runners of all levels to come together, share their love of running, and improve their fitness and health.</p>
        <p>We aim to foster a sense of community and camaraderie among our members, and to provide a platform for runners to connect, share their experiences, and motivate each other to achieve their running goals.</p>
    </div>

    <div class="full">
        <h2>Our Members</h2>
        <ul>
        {% for member in members  %}
            <li><a href="/profile/{{ member[1] }}">{{ member[4] }}</a></li>
        {% endfor %}
        </ul>
        <br>
        <h3>El Chumpo of the week<h3>
        <ol>
        {% for member in leaderboard  %}
            {% set distance = member[1] %}
            {% set member = get_user_id(member[0]) %}
            <li><a href="/profile/{{ member[1] }}">{{ member[4] }}</a> - {{ distance }}km<br></li>
        {% endfor %}
        </ol>
        <p>Want to become a member? Click <a href="/signup">here</a> to signup and log your runs, participate in events and engage with our amazing community!</p>
    </div>

    <div class="full">
        <h2>Jerseys</h2>
    </div>
    <div class="l">
        <p>Experience ultimate comfort and performance with our club's running jersey. Crafted from moisture-wicking polyester, it's designed to keep you cool and dry, no matter the distance. Featuring our distinctive club colors and logo, it's the perfect way to show your team spirit.<br>
            Want one? Signup for an acccount and click this <a href="/contact?subject=Jersey%20Enquiry&message=Hello,%20I%20am%20looking%20for%20more%20information%20about%20the%20jerseys.">link</a> to send a message to one of our organisers, who will reach out to you to help arrange one for you.</p>
    </div>
    <div class="r">
        <img src="/static/other/jersey.jpg" width="216px" height="300px">
    </div>

{% endblock %}