{% extends "main.html" %}

{% block imports %}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}

{% block content %}
<form method="post">

    <div class="full">
        {% if user[1]=="admin" %}
        <a href="/admin/contact">View messages</a>
        {% endif %}

        <h1>Contact Us</h1>
        <h2>Fill out the form below to get in touch</h2>

        <label for="name">Name</label><br>
        <input type="text" name="name" value="{{ user[4] }}" placeholder="Name" required><br>
        <br>
        <label for="email">Email</label><br>
        <input type="email" name="email" value="{{ user[3] }}" placeholder="Email" required><br>
        <br>
        <label for="subject">Subject</label><br>
        <input type="text" name="subject" placeholder="Subject" required><br>
        <br>
        <label for="message">Message</label><br>
        <textarea name="message" placeholder="Message" required></textarea><br>
        <br>
        <button type="submit">Send</button>
    </div>
</form>
{% endblock %}