{% extends "main.html" %}

{% block imports %}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}

{% block content %}
<br>
<form method="post">

    <div class="full">
        <h1>Contact Us</h1>
        <h2>Fill out the form below to get in touch</h2><br>

        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Name" required><br>
        <br>
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <br>
        <label for="subject">Subject</label><br>
        <input type="text" name="subject" placeholder="Subject" required><br>
        <br>
        <label for="message">Message</label><br>
        <textarea name="message" placeholder="Message" required></textarea><br>
        <br>
        <button type="submit">Send</button>
    </div>
</form>
{% endblock %}