{% extends "main.html" %}

{% block imports %}

{% endblock %}

{% block content %}
<div class="full">
<h1>You've reached this page because the profile you were looking for was deleted.</h1>
<p>All posts and most actions by the original user now belong to this profile to preserve privacy.<br>
However, some actions, like likes, will not be owned by this user, and remain owned by the deleted account.<br>
To help preserve privacy, account cannot be recovered.<br>
If your profile has been mistakenly deleted, please contact us through the contact form to help regain ownership of your posts and runs.<br>
Thankyou for your understanding.</p>
</div>
{% endblock %}