{% extends "main.html" %}

{% block imports %}
<link rel="stylesheet" href="/static/feed.css">
<script defer src="/static/feed.js"></script>

<!--Icons-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=description,event,location_on,pace,route,sprint,timer" />

{% endblock %}

{% block content %}
<h1 class="full">Feed</h1>
<h2><a href="/feed/new">+ New Post</a></h2>
<input type="button" id="following_button" class="l section selected" value="Following" style="align-items: center;" onclick="select_following()">
<input type="button" id="all_button" class="r section " value="All" style="align-items: center;" onclick="select_all()">
<br><br>
<div class="full" id="following">
    {% for post in following %}
    <div class="post" id="{{ post[0] }}">
        {% set post_user = get_user_id(post[1]) %}
        {% if post_user == None %}
        {% set post_user = ('deleted', 0, 0, 0, 'Deleted User') %}

        {% if post[7]=="post" %}
        <h3><span class="material-symbols-outlined">description</span> <a href="/feed/{{ post[0] }}">{{ post[2] }}</a></h3>
        <h4><a href="/profile/{{ post_user[1] }}">{{ post_user[4] }}</a>  |  {{ post[3].astimezone(tz).strftime("%d/%m/%Y %H:%M") }}</h4>

        {% elif post[7]=="run" %}
        {% set content = post[4] %}
        <h3><span class="material-symbols-outlined">sprint</span> <a href="/feed/{{ post[0] }}">{{ post[2] }}</a></h3>
        <h4><a href="/profile/{{ post_user[1] }}">{{ post_user[4] }}</a>  |  {{ post[3].astimezone(tz).strftime("%d/%m/%Y %H:%M") }}</h4>

        <p>
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;border-radius: 10px; border: 1px solid;padding:10px; background-color: rgb(226, 226, 226);">
                <span><span class="material-symbols-outlined">route</span> Distance<br><span style="font-size: x-large;">{{content["distance"]}}km</span></span>
                <span><span class="material-symbols-outlined">timer</span> Time<br><span style="font-size: x-large;">{{content["time"]}}</span></span>
                <span><span class="material-symbols-outlined">pace</span> Pace<br><span style="font-size: x-large;">{{content["pace"]}}min/km</span></span>
            </div>
        </p>

        {% elif post[7]=="event" %}
        <h3><span class="material-symbols-outlined">event</span> <a href="/feed/{{ post[0] }}">{{ post[2] }}</a></h3>
        <h4><a href="/profile/{{ post_user[1] }}">{{ post_user[4] }}</a>  |  {{ post[3].astimezone(tz).strftime("%d/%m/%Y %H:%M") }}</h4>


        {% set content = post[4] %}
        <p><span class="material-symbols-outlined">event</span> {{content["date"]}}</p>
        <p><span class="material-symbols-outlined">location_on</span> {{content["location"]}}</p>
                
        {% else %}
        <p>Error: Post type unknown: {{ post[7] }}</p>
        <p>{{ post[3] }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="full" id="all" hidden>
    {% for post in all %}
    <div class="post" id="{{ post[0] }}">
        {% set post_user = get_user_id(post[1]) %}

        {% if post[7]=="post" %}
        <h3><span class="material-symbols-outlined">description</span> <a href="/feed/{{ post[0] }}">{{ post[2] }}</a></h3>
        <h4><a href="/profile/{{ post_user[1] }}">{{ post_user[4] }}</a>  |  {{ post[3].astimezone(tz).strftime("%d/%m/%Y %H:%M") }}</h4>

        {% elif post[7]=="run" %}
        {% set content = post[4] %}
        <h3><span class="material-symbols-outlined">sprint</span> <a href="/feed/{{ post[0] }}">{{ post[2] }}</a></h3>
        <h4><a href="/profile/{{ post_user[1] }}">{{ post_user[4] }}</a>  |  {{ post[3].astimezone(tz).strftime("%d/%m/%Y %H:%M") }}</h4>

        <p>
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;border-radius: 10px; border: 1px solid;padding:10px; background-color: rgb(226, 226, 226);">
                <span><span class="material-symbols-outlined">route</span> Distance<br><span style="font-size: x-large;">{{content["distance"]}}km</span></span>
                <span><span class="material-symbols-outlined">timer</span> Time<br><span style="font-size: x-large;">{{content["time"]}}</span></span>
                <span><span class="material-symbols-outlined">pace</span> Pace<br><span style="font-size: x-large;">{{content["pace"]}}min/km</span></span>
            </div>
        </p>


        {% elif post[7]=="event" %}
        <h3><span class="material-symbols-outlined">event</span> <a href="/feed/{{ post[0] }}">{{ post[2] }}</a></h3>
        <h4><a href="/profile/{{ post_user[1] }}">{{ post_user[4] }}</a>  |  {{ post[3].astimezone(tz).strftime("%d/%m/%Y %H:%M") }}</h4>


        {% set content = post[4] %}
        <p><span class="material-symbols-outlined">event</span> {{content["date"]}}</p>
        <p><span class="material-symbols-outlined">location_on</span> {{content["location"]}}</p>

                
        {% else %}
        <p>Error: Post type unknown: {{ post[7] }}</p>
        <p>{{ post[3] }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}