{% extends 'main.html' %}
{% block imports %}
<script src="/static/index.js" defer>   </script>
{% endblock %}

{% block content%}
<div class="full" style="font-size: 40px;height: 220px;width:900px;">
    <p>Welcome to <br>
        <span id="name" style="font-size: 54px;"></span>
    </p>
</div>

<div class="full" style="font-size: 20px;">The worst running club in South East Queensland</div>
<div class="l">
    <h2>Upcoming Events</h2>
    <ul id="events">
        <li>Event 1</li>
        <li>Event 2</li>
        <li>Event 3</li>
    </ul>
</div>
<div class="r">
    <h2>Latest from Joe</h2>
    <ul id="joe">
        <li>Joe Blog 1</li>
        <li>Joe Blog 2</li>
        <li>Joe Shoe 3</li>
    </ul>
</div>
{% endblock %}