{% extends "main.html" %}

{% block imports %}
<link rel="stylesheet" href="/static/shoes.css">
{% endblock %}

{% block content %}
<div class="full">
    <br>
    {% if user[1] == "joe" %}
    <a href="/joe/{{ shoe[0]}}/edit">Edit</a>
    {% endif %}
    <br>
    <h1>{{ shoe[1] }} {{ shoe[2] }}</h1>
    <p>Brand: <a href="/joe/brand/{{ shoe[0] }}">{{ shoe[1] }}</a></p>
    <p>Price: ${{ shoe[5] }}</p>
    <p>Review:</p>
    <pre>{{ shoe[3] }}</pre>
    <p>Tags:  
        {% for tag in shoe[4] %}
        <input type="button" class="tag" onclick="window.location.href='/joe/tag/{{ tag }}'" value="{{ tag }}">  
        {% endfor %}
    </p>
</div>
{% endblock %}