{% extends "main.html" %}

{% block imports %}
<link rel="stylesheet" href="/static/shoes.css">
{% endblock %}

{% block content %}
<div class="full">
    <h1>{{ shoe[1] }} {{ shoe[2] }}</h1>
    <p>Brand: {{ shoe[1] }}</p>
    <p>Price: ${{ shoe[5] }}</p>
    <p>Review:</p>
    <pre>{{ shoe[3] }}</pre>
    <p>Tags:  
        {% for tag in shoe[4] %}
        <input type="button" class="tag" onclick="window.location.href='/joe/tag/{{ tag }}'" value="{{ tag }}">  
        {% endfor %}
    </p>
    </div>
    {% endfor %}
{% endblock %}