<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>SEQWRC</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <script src="/static/main.js" defer></script>
    <link rel="icon" href="/static/other/logo.jpg" type="image/x-icon">
    {% block imports %}
    {% endblock %}
    <div class="sitenav">
        <span>
        <b style="font-size:x-large;">SEQWRC
        <input class="sitenav_button" type="button" value="Home" onclick="window.location.href='/'">
        <input class="sitenav_button" type="button" value="Feed" onclick="window.location.href='/feed'">
        <input class="sitenav_button" type="button" value="Profiles" onclick="window.location.href='/profile'">
        <input class="sitenav_button" type="button" value="Joe's" onclick="window.location.href='/joe'">
        <input class="sitenav_button" type="button" value="About" onclick="window.location.href='/about'">
        <input class="sitenav_button" type="button" value="Contact" onclick="window.location.href='/contact'">
        {% if user %}
        <input class="sitenav_button" style="float: right;" type="button" value="Account" onclick="window.location.href='/account'">
        {% else %}
        <input class="sitenav_button" style="float: right" type="button" value="Login" onclick="window.location.href='/login'">
        {% endif %}
        </b></span>
    </div>
</head>
<body>
    {% if message_good %}
    <div class="full popupgood">
        <p>Popup good</p>
    </div>
    {% endif %}
    {% if message_bad %}
    <div class="popupbad">
        <p>Popup bad</p>
    </div>
    {% endif %}
    {% if message_warn %}
    <div class="popupwarn">
        <p>Popup warn</p>
    </div>
    {% endif %}
    {% if message %}
    <div class="popup">
        <p>Popup info</p>
    </div>
    {% endif %}
    <article>
        {% block content %}
        
        <span class="full">
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Blandit euismod sit quisque ullamcorper metus rhoncus. Metus rhoncus sit etiam gravida morbi suscipit magna eu. Proin congue facilisis vivamus vel porta eu conubia. Nunc iaculis sollicitudin quam aptent hendrerit arcu; duis urna semper. Fringilla platea morbi justo suscipit nec tristique. Auctor id efficitur fames fames cubilia aliquam mauris posuere. Ante rhoncus justo pellentesque conubia, tristique sed dui.

            Lacinia lectus aptent hendrerit interdum lectus fringilla; euismod facilisi. Praesent leo cras elementum efficitur; nascetur primis nisi habitasse tempus. Consectetur torquent habitasse urna ullamcorper consectetur nulla. Semper laoreet malesuada arcu fusce, nisl malesuada dictumst ultricies. Condimentum et pulvinar torquent potenti imperdiet rhoncus. Ultricies justo quisque erat habitant hendrerit enim. Mollis erat nisl primis imperdiet nibh.
            
            Scelerisque penatibus montes elementum adipiscing phasellus urna nunc. Vulputate montes turpis orci aptent volutpat purus. Euismod habitasse lacus mi pellentesque ut convallis integer arcu. Congue maecenas fringilla iaculis magna, primis himenaeos. Apenatibus diam cursus nec; faucibus aenean. Cras viverra scelerisque, commodo aliquet leo platea curabitur. Fames id euismod sollicitudin; convallis morbi pretium sapien erat tellus.
            
            Sagittis pulvinar at varius imperdiet odio finibus. Cubilia a inceptos netus a malesuada nibh aliquam. Laoreet mollis ornare et massa nam? Donec nec luctus luctus ligula montes odio amet. At dapibus nulla rhoncus quisque congue orci vestibulum taciti magna. Dapibus maximus vel interdum ligula nascetur purus.
            
            Curabitur aliquam gravida nam maecenas tellus nam viverra in varius. Laoreet purus pretium urna; curabitur parturient magnis arcu. Turpis mollis parturient aenean iaculis conubia iaculis. Aenean vehicula nulla phasellus cursus; gravida diam eget. Platea netus sagittis pellentesque sagittis sem quam enim. Leo elementum ullamcorper feugiat, curabitur eros pellentesque ridiculus egestas vivamus.
            
            Iaculis risus interdum sociosqu rutrum facilisis at eleifend finibus et. Dictum est ad nisi bibendum ultricies ipsum elit, ut accumsan. Curae natoque per litora pretium aliquam. Pellentesque nibh phasellus amet urna convallis elementum accumsan vivamus bibendum. Tempor sollicitudin porta elementum lorem rutrum eros natoque. Risus sollicitudin commodo non curabitur aliquet enim nostra. Nisi ante potenti aliquet molestie consequat penatibus semper.
            
            Eget adipiscing hac vulputate curae nec arcu sed class. Curabitur nam condimentum in viverra porta. Fringilla platea eleifend tristique porttitor volutpat nunc. Metus aliquet feugiat nascetur leo, volutpat dis ultrices venenatis. Varius sollicitudin cras accumsan per nunc senectus ullamcorper. Gravida velit eleifend dignissim, consequat nunc ornare. Magna ut libero mus pharetra; primis mattis et accumsan. Sed scelerisque integer aliquet curabitur; laoreet aliquam. Ridiculus condimentum ipsum rhoncus hendrerit ex fermentum tempus.
            
            Semper senectus gravida, tortor lobortis enim ad. Nascetur lacinia sollicitudin rutrum tristique odio vestibulum feugiat dignissim. Lectus fames inceptos; enim condimentum curabitur ac. Ipsum netus fames sagittis; placerat libero per tortor praesent lacus. At fames quam nibh pellentesque; et dui aptent amet. Venenatis ullamcorper purus gravida ornare dictum; netus et. Accumsan pretium erat nulla massa aliquam metus nunc commodo tristique. Diam posuere tempor nisl integer natoque; iaculis curae ridiculus. Eros litora at; fringilla sed habitasse primis. Magnis magna sagittis commodo nibh nibh id.
            
            Ultrices justo orci vitae vitae nullam litora. Velit phasellus porttitor hendrerit auctor purus mattis quam tempus placerat. Nostra facilisis diam a porta inceptos eget himenaeos eros. Accumsan nunc adipiscing class accumsan lacus nascetur suspendisse auctor. Rutrum sollicitudin nec hac urna posuere bibendum cubilia. Laoreet mollis aenean ut, gravida fusce urna. Integer ex natoque commodo; libero posuere praesent egestas. Odio morbi tortor commodo bibendum arcu vulputate. Nullam tellus mattis nam maximus mollis netus commodo. Inceptos euismod sagittis facilisis praesent; nec mi.
            
            Orci orci leo dictum a torquent ac mi. Ad pretium augue fringilla; leo habitant primis. Quisque sapien orci magna etiam, eget porta ligula ultrices elit. Erat odio porta etiam nisi placerat morbi. Habitant tempor vivamus tortor ante egestas. Tortor adipiscing torquent auctor ligula lobortis proin hendrerit. Laoreet sagittis ad maximus parturient luctus. Platea convallis enim at dapibus euismod senectus sociosqu litora. Risus volutpat tincidunt leo suscipit malesuada nisi.
            
            Consectetur purus fringilla placerat elementum arcu nam egestas nisl. Augue vestibulum cursus praesent nullam quisque nostra tristique interdum. Per efficitur posuere lobortis at tempor. Tincidunt fermentum massa euismod efficitur magna suscipit netus rutrum proin. Ipsum maecenas maximus maecenas libero dictum viverra ex ultrices sagittis. Gravida tincidunt aliquet sagittis nascetur phasellus tempor etiam. Vel posuere augue nibh senectus aptent volutpat eu. Suspendisse mollis eget enim donec morbi. Aenean risus consectetur non, suspendisse sodales vel.
            
            Volutpat leo suscipit duis porta morbi sapien rutrum hendrerit non. Proin magnis arcu sodales fermentum efficitur congue purus. Nisi erat penatibus quis congue laoreet. Vestibulum sociosqu sem auctor ultrices posuere metus. Eget hac dolor rhoncus pellentesque elit litora maximus aenean. Aliquam massa aliquam curabitur; praesent quam purus montes. Aliquet risus litora interdum gravida lectus urna porta consequat.
            
            Per auctor dapibus egestas justo dui. Aenean gravida ad eleifend molestie natoque. Laoreet enim vel cursus euismod eget tellus tincidunt magna. Erat consectetur sit per euismod suscipit faucibus aliquam. Vel imperdiet class ante enim scelerisque dictumst. Praesent sem magna orci diam natoque dictum auctor mauris ac. Massa pulvinar hendrerit sapien quisque dui sociosqu torquent purus cursus.
            
            Efficitur augue eleifend est vivamus phasellus. In velit eu urna ad; mauris nisl tristique dolor quam. Habitant mollis hac rhoncus orci orci urna phasellus fusce. Nulla faucibus semper nostra auctor habitant eget? Dapibus nam varius ornare est senectus sociosqu efficitur hendrerit! Vivamus nisl hac faucibus faucibus accumsan per. Non nec nunc inceptos diam taciti platea.
            
            Consequat molestie rutrum dui pharetra lacus penatibus mollis. Feugiat bibendum viverra; natoque malesuada risus mattis convallis. Sapien inceptos bibendum nunc cras finibus etiam metus. Consequat fusce tellus aenean posuere aenean cubilia tempus. Tempor pellentesque turpis rhoncus egestas praesent curae. Parturient venenatis magnis fringilla euismod ridiculus gravida egestas. Iaculis aptent mollis sagittis pulvinar ridiculus diam ipsum imperdiet. Elit fusce nisl vel litora finibus pellentesque tincidunt tincidunt ipsum.
            
            Pharetra consequat ad pulvinar semper sapien lobortis augue. Non vulputate tincidunt luctus cubilia vulputate imperdiet. Bibendum sagittis at per etiam elit penatibus eros quam curabitur. Nostra blandit ac sit cras nascetur magnis etiam nisl mattis. Venenatis urna semper in placerat nostra torquent curabitur. Porttitor lobortis at ex venenatis placerat bibendum. Elementum amet elit nascetur, nam conubia efficitur. In quam dis tortor ornare blandit facilisis egestas litora.
            
            Lectus libero arcu commodo nec diam habitant sem. Justo ornare fringilla purus pharetra pellentesque arcu. Pellentesque enim magnis senectus magnis primis non? Laoreet scelerisque nunc hendrerit quisque; finibus est sociosqu. Massa sit aptent himenaeos vitae pharetra netus. Finibus massa eleifend; magnis at placerat vulputate tortor.
            
            Nascetur finibus luctus purus suspendisse augue accumsan vivamus volutpat. Vulputate accumsan eget per maximus dictum at sagittis. Dui accumsan ante curabitur vulputate, sagittis augue pulvinar ornare. Nisi class mi mollis hendrerit rutrum primis mauris semper. Praesent nisl diam volutpat lectus risus dui. Laoreet himenaeos egestas phasellus facilisis malesuada fames. Lorem interdum tempus mus cras tincidunt faucibus. Parturient condimentum elementum; quam ultricies urna senectus habitasse. Dictum enim mi id finibus faucibus; ut et imperdiet sollicitudin. Lacinia pretium est litora, eget ut fermentum.
            
            Maecenas ante laoreet duis taciti augue congue felis sollicitudin? Lacinia porttitor ligula feugiat habitasse malesuada adipiscing enim conubia! Magnis neque odio elementum sagittis netus ornare fames sem. Sapien dictumst porta lacus ante natoque mauris est. Curae ad dignissim netus cubilia mus ut. Facilisi duis molestie neque lacinia proin class pharetra sit. Commodo feugiat cras ac sollicitudin curae et odio cras. Facilisi nec neque felis suspendisse ultrices. Dis rhoncus nisl ullamcorper vulputate suscipit integer hendrerit aliquam.
            
            Aenean conubia consequat risus ipsum quis ridiculus scelerisque orci condimentum. Euismod tincidunt maximus auctor fringilla; sit rutrum augue. Curabitur libero turpis platea duis rhoncus scelerisque. Dui ut commodo; posuere suscipit nibh lectus. Porta posuere elit dictumst nunc nunc vitae. Risus efficitur inceptos lorem maximus potenti et mauris montes. Nulla felis eleifend eu egestas fusce.</p></span>
            <span class="l"><p>this is on the left</p></span>
            <span class="r"><p>this is on the right</p></span>
            {% endblock %}
    </article>
</body>
</html>