{% extends "main.html" %}

{% block imports %}
<link rel="stylesheet" href="/static/post.css">
{% endblock %}

{% block content %}
<div class="full">
    {% set post_user = get_user_id(post[1]) %}
    {% if post_user[0]==user[0] %}
    <br>
    <a href="/feed/{{ post[0] }}/edit">Edit</a>
    {% endif %}
    
    <h1>{{ post[2] }}</h1>
    <h2><a href="/profiles/{{ post_user[1] }}">{{ post_user[4] }}</a>  |  {{ post[3].astimezone(tz).strftime("%d/%m/%Y %H:%M") }}</h2>
    {% if post[7]=="post" %}
    {% set content = post[4] %}
    <pre class="content">{{ content["content"] }}</pre>

    {% elif post[7]=="run" %}
    {% set content = post[4] %}
    <p>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;border-radius: 10px; border: 1px solid;padding:10px; background-color: rgb(226, 226, 226);">
            <span>Distance<br><span style="font-size: x-large;">{{content["distance"]}}km</span></span>
            <span>Time<br><span style="font-size: x-large;">{{content["time"]}}</span></span>
            <span>Pace<br><span style="font-size: x-large;">{{content["pace"]}}min/km</span></span>
        </div>
    </p>
    <pre class="content">{{content["description"]}}</pre>

    {% elif post[7]=="event" %}
    {% set content = post[4] %}
    <p>{{content["date"]}} | {{content["location"]}}</p>
    <p>{{content["description"]}}</p>
    
    {% else %}
    <p>Error: Post type unknown: {{ post[7] }}</p>
    <pre clas="content">{{ post[3] }}</pre>
    {% endif %}
    <p>{{ post[5]|length }} likes</p>

    {% if str(user[0]) in post[5] %}

    <input type="button" value="Remove Like" onclick="fetch(window.location.href+'/like', {method: 'DELETE'}).then(response => window.location.reload());">
    {% else %}
    <input type="button" value="Like" onclick="fetch(window.location.href+'/like', {method: 'GET'}).then(response => window.location.reload());">
    {% endif %}
</div>
{% endblock %}